input[key], input[val] {
    margin-bottom: 20px;
    width: 300px;
    float: left;
}

input[key] {
    margin-right: 20px;
}

#mapping > div {
    overflow: auto;
}

#mapping > div:last-child > button[add] {
    margin: 7px 0 0 20px;
    z-index: 1000
}

#mapping > div:last-child > button[del] {
    display: none;
}

#mapping > div:not(:last-child) > button[add] {
    display: none;
}

#mapping > div:not(:last-child) > button[del] {
    margin: 7px 0 0 20px;
    z-index: 1000
}